*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topo{
    width: 100vw;
    height: 5vh;
    background-color: rgb(0, 50, 126);

}

p{
    text-align:center;
    color: white
}

.texto1{
    font-size: 2em; 
    color: #000000; 
    text-align: center;
    display: flex;

} 
#texto2{
    font-size: 2em; 
    color:rgb(58, 3, 110);
    text-align: center;
    
} 
#texto3{
    font-size: 2em; 
    color:rgb(59, 3, 61);
    text-align: center;
    
} 

#texto4{
    font-size: 2em; 
    color:rgb(214, 27, 199);
    text-align: center;
    
} 

#container{
    width: 100vw;
}

#main{
    width: 100vw;
    height: 100vh;
    
}

.img {
    margin: 0 auto;
}
#mainf1{
    width: 100vw;
    background-color: cornflowerblue;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-radius: 10px;
    height: 100px;
 }

.divBusca{
    width: 20%;
    display: flex;
    align-items: center;
}

.mov:hover
{   
    transform: rotate(90deg);
}

.item_menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 20%;
    text-align: center;
    
}
.item_menu img{
    margin: 0 auto;
}
.mainf2{
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
   padding: 10px 0; 
    background-color: rgb(50, 50, 177);
    
}
.mainf3{
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
   padding: 10px 0; 
    background-color: rgb(85, 85, 145);
    
}

#rodape{
    width: 90vw;
    background-color:  rgb(184, 195, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    gap: 10px;
   padding: 10px 0; 
    margin-top: 20px;
    justify-content: space-evenly;
    
}
.timagem:hover{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    transform: rotate3d(90deg);
}

.timagem1{
    width: 100px;
    height: 100px;
}
.timagem2{
    width: 180px;
    height: 180px;
}
#botao {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1; 
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.cards{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 20%;
   
}

#container1{
    width: 100vw;
    background-color: rgb(161, 99, 219);
    overflow: auto;
}
.maindoce{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(190, 190, 255);
    margin-top: 20px;
}
.timagem4{
    height: 250px;
}
.h3{
    background-color: #0056b3;
}


