*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.texto1{
    font-size: 2em; 
    color: #000000; 
    text-align: center;
    display: flex;

} 
#texto2{
    font-size: 2em; 
    color:rgb(58, 3, 110);
    text-align: center;
    
} 
#texto3{
    font-size: 2em; 
    color:rgb(59, 3, 61);
    text-align: center;
    
} 
.cards{
    display: flex;
    ali

}
#hjkaf{
    width: 100vw;
    height: 5vh;
    background-color: rgb(0, 50, 126);
}
#texto4{
    font-size: 2em; 
    color:rgb(214, 27, 199);
    text-align: center;
    
} 

#container{
    width: 100vw;
    height: 5vh;
    background-color: rgb(0, 50, 126);
   
}
#main{
    width: 100vw;
    height: 100vh;
    
}

.img {
    margin: 0 auto;
}
#mainf1{
    width: 100vw;
    height: 20vh;
    background-color: cornflowerblue;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-radius: 10px;
 }

.divBusca{
    flex-grow: 2;
}
.mov:hover
{
    transform: rotate(90deg);

}

.item_menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
}
.mainf2{
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
   padding: 10px 0; 
    background-color: rgb(50, 50, 177);
    
}
.mainf3{
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
   padding: 10px 0; 
    background-color: rgb(85, 85, 145);
    
}

#rodape{
    width: 90vw;
    background-color:  rgb(184, 195, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    gap: 10px;
   padding: 10px 0; 
    margin-top: 20px;
    justify-content: space-evenly;
    
}
.timagem{
    width: 250px;
    height: 250px;
}

  .timagem1{
    width: 100px;
    height: 100px;
}
.timagem2{
    width: 180px;
    height: 180px;
}
#container1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(161, 99, 219);

}
.maindoce{
     width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    padding: 10px 0; 
    background-color: rgb(190, 190, 255);
    
}
.timagem4{
    width: 250px;
    height: 250px;
}
